section{
    display: flex;

    .container-full{
        overflow-x: auto;
        .container{
            h1{
                font-family: 'Work Sans';
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}


.container-full{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen  and(max-width: 1000px){
    section{
        flex-direction: column-reverse;
        height: 100vh;

        .container{
            height: 90%;
            width: 100vw;
        }
    }
}