<div class="d-flex section">
    <nav class="side-menu">
        <app-menu></app-menu>
    </nav>
    <section class="container-full bg-light">
        
        <full-calendar [options]="calendarOptions"></full-calendar>
    </section>
    <div *ngIf="showModalEvent" #teste class=" event card p-2" >
        <span class="text-secondary">{{form.value.data}} às {{form.value.time}}</span>
        <div class="row mt-2">
            <div class="col-auto">
                <p class="text-success">Participante: <span class="text-primary">{{form.value.title}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="text-success">Reunião link: <a [href]="form.value.meet">{{form.value.meet}}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button (click)="showModalEvent = false" mat-button>Fechar</button>
            </div>
            <div class="col-auto">
                <button (click)="deleteEvent(form.value._id)" mat-button color="warn">Excluir</button>
            </div>
        </div>
    </div>
</div>