<!-- <div class="container-full bg-dark d-flex">

    <nav class="side-menu">
        <app-menu></app-menu>
    </nav>

    

    <div class="container d-flex container-info">

        <div class="row m-0">
            <div class="col-auto">
                <div style="cursor: pointer;"  (click)="reload()" class="col-auto d-flex mb-4">
                    <fa-icon  style='margin-right: 5px;' [icon]="faArrowLeft"></fa-icon>
                    <span >Voltar</span>
                </div>
            </div>
        </div>

        <div class="pdf">
            <div class="row">
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input type="text" readonly matInput [value]="cliente.nome">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>CPF</mat-label>
                        <input mask="000.000.000-00" type="text" readonly matInput [(ngModel)]="cliente.cpf">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Data de nasscimento</mat-label>
                        <input mask="00/00/0000" type="text" readonly matInput [(ngModel)]="cliente.dataNascimento">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input mask="(00)00000-0000" type="text" readonly matInput [(ngModel)]="cliente.telefone">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Contato de emergência</mat-label>
                        <input  mask="(00)00000-0000" type="text" readonly matInput [(ngModel)]="cliente.contatoEmergencia.numero">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome do contato</mat-label>
                        <input  type="text" readonly matInput [(ngModel)]="cliente.contatoEmergencia.nome">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input type="text" readonly matInput [value]="cliente.email">
                    </mat-form-field>
                </div>
                
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Endereço</mat-label>
                        <input type="text" readonly matInput [value]="cliente.endereco.logradouro">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Numero</mat-label>
                        <input type="text" readonly matInput [value]="cliente.endereco.numero">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Complemento </mat-label>
                        <input type="text" readonly matInput [value]="cliente.endereco.complemento">
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Cidade</mat-label>
                        <input type="text" readonly matInput [value]="cliente.endereco.localidade">
                    </mat-form-field>
                </div>
            </div>
            
            <div class=" row p-2  mt-4">
                <div class="info col-auto bg-dark p-2">
                    <p class="mb-0  text-light">Dados referentes ao mês {{month < 10 ? '0'+month : month}} de {{year}}</p>
                </div>
           </div>

            <div class="row mt-3">
                <div class="col-auto">
                    <button (click)="getBeforeMonth()" class="btn btn-outline-primary"> 
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                         Mês anterior
                    </button>
                </div>
                <div class="col-auto">
                    <button (click)="setAfterMonth()" class="btn btn-outline-primary">
                        Próximo mês
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </button>
                </div>
            </div>
           
            <div class="table  p-1">
                <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                   
                    <ng-container matColumnDef="data">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dia}}/{{element.mes}}/{{element.ano}} </td>
                    </ng-container>
    
                   
                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                      </ng-container>
                  
                   
                    <ng-container matColumnDef="valor">
                      <th mat-header-cell *matHeaderCellDef> Valor da Consulta </th>
                      <td mat-cell *matCellDef="let element">R$ {{element.valorConsulta}}</td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="realizado">
                      <th mat-header-cell *matHeaderCellDef> Sessão Realizada </th>
                      <td mat-cell *matCellDef="let element"> <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.realizado">Sim</mat-checkbox></td>
                    </ng-container>

                    <ng-container matColumnDef="pagamento">
                        <th mat-header-cell *matHeaderCellDef> Pagamento Realizado</th>
                        <td mat-cell *matCellDef="let element"> <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.pago">Sim</mat-checkbox></td>
                    </ng-container>

                    <ng-container matColumnDef="observacao">
                        <th mat-header-cell *matHeaderCellDef> Observacao</th>
                        <td mat-header-cell *matCellDef="let element">
                            <mat-form-field style="width: 100% ;" >
                                <textarea (blur)="updateEvent(element)" placeholder="Insira uma observação" [(ngModel)]="element.observacao" matInput></textarea>
                            </mat-form-field>
                        </td>
                    </ng-container>
                  
                    
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
        </div>

        <div class="mt-2" *ngIf="dataSource.length == 0">
            <h2>Sem consultas para a data selecionada.</h2>
        </div>
        <div class="row mt-4">
            <div class="col-auto">
                <button (click)="printPDF()" class="btn btn-success">Salvar PDF</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="showPdf" class="modal-pdf bg-dark">
    
    <div  class="container-pdf">
        <div class="content-pdf">
            <div class="cabecalho">
                <h1>Relatório mensal de consultas realizadas</h1>
                <h2 class="mb-0 ">Dados referentes ao mês {{month < 10 ? '0'+month : month}} de {{year}}</h2>
            </div>
        
            <div class="row mt-5">
                <div class="col-auto">
                    <strong>Nome</strong>
                    <p>{{cliente.nome}}</p>
                </div>
                <div class="col-auto" style="display: flex; flex-direction: column;">
                    <strong>Data de nascimento</strong>
                    <input mask="00/00/0000" style="border: none; outline: none;" [(ngModel)]="cliente.dataNascimento" type="text">
                </div>
                <div class="col-auto" style="display: flex; flex-direction: column;">
                    <strong>CPF</strong>
                    <input mask="000.000.000-00" style="border: none; outline: none;" [(ngModel)]="cliente.cpf" type="text">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-auto">
                    <strong>Endereço</strong>
                    <p>{{cliente.endereco.logradouro}}</p>
                </div>
                <div class="col-auto">
                    <strong>Número</strong>
                    <p>{{cliente.endereco.numero}}</p>
                </div>
                <div class="col-auto">
                    <strong>Complemento</strong>
                    <p>{{cliente.endereco.complemento}}</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-auto">
                    <strong>Bairro</strong>
                    <p>{{cliente.endereco.bairro}}</p>
                </div>
                <div class="col-auto">
                    <strong>Cidade</strong>
                    <p>{{cliente.endereco.localidade}}</p>
                </div>
                <div class="col-auto">
                    <strong>Estado</strong>
                    <p>{{cliente.endereco.uf}}</p>
                </div>
            </div>

            <div class=" mt-5 table  p-1">
                <table style="width: 100% ;"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    
                    <ng-container matColumnDef="data">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dia}}/{{element.mes}}/{{element.ano}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                      </ng-container>
                  
                   
                    <ng-container matColumnDef="valor">
                      <th mat-header-cell *matHeaderCellDef> Valor da Consulta </th>
                      <td mat-cell *matCellDef="let element">R$ {{element.valorConsulta}}</td>
                    </ng-container>
                
                    
                    <ng-container matColumnDef="realizado">
                      <th mat-header-cell *matHeaderCellDef> Sessão Realizada </th>
                      <td mat-cell *matCellDef="let element"> <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.realizado">Sim</mat-checkbox></td>
                    </ng-container>

                    <ng-container matColumnDef="pagamento">
                      <th mat-header-cell *matHeaderCellDef> Pagamento Realizado</th>
                      <td mat-cell *matCellDef="let element"> <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.pago">Sim</mat-checkbox></td>
                    </ng-container>
                

                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>

            <div class="rodape mt-5">
                <div class="row">
                    <div class="col-auto">
                        <strong>{{userData.nome}} {{userData.sobrenome}}</strong>
                        <p>CRP:{{userData.crp}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section>
    <div class="side-menu">
        <app-menu></app-menu>
    </div>

    <div class="container-full">
        <div class="container"></div>
    </div>
</section>