section{
    width: 100%;
    display: flex;

    .container-full{
        width: 100%;
        height: 100%;

        .container{
            padding: 1rem;

            .row:first-child{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem ;

                .col-auto{
                    display: flex;
                    align-items: center;

                    h1{
                        padding: 0;
                        margin: 0 1rem;
                    }

                }
            }
            .container-table{
                table{
                    width: 100%;
                }
            }
        }

    }

}

@media screen  and(max-width: 1000px){
    section{
        height: 100vh;
        flex-direction: column-reverse;

        .container-full{
            height: 90%;
            width: 100vw;
        }
    }
}