section{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container-full{
    width: 100%;
    overflow-x: hidden;
}

.cards{
    h1{
        display: flex;
        align-items: center;
        margin-right: 2rem;
        mat-icon{
            margin-right: 10px ;
        }
    }
}

canvas{
    width: 100%;
}

.chart{
    width: 100%;
}

.percent{
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    h4{
        font-size: 13px;
    }
    mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
}

@media screen  and(max-width: 1000px){
    section{
        height: 100vh;
        flex-direction: column-reverse;

        .container-full{
            height: 90%;
            width: 100vw;
        }
    }
}