.date{
    
}
span{
    display: flex;
    align-items: center;
    color: #a0a0a0;

    mat-icon{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

mat-form-field{
    width: 100%;

    textarea{
        height: auto;
    }
}