section{
    width: 15vw;
    height: 100vh;
    border-right: 1px solid rgba(151, 151, 248, 0.082);
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .items-menu-container{
        flex: 1; 
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .item{
            display: flex;
            align-items: center;
            margin: 10px 0;
            cursor: pointer;
            color: gray;
            transition: 0.4s;
            
            mat-icon{
                font-weight: 100;
                margin-right: 10px;
            }
        }

        .item:hover{
            color: blue;
            transition: 0.3s;
        }

        .active{
            color: blue;
        }

        
    }
    .btn-danger{
        border-radius: 0;
    }
}

@media screen and(max-width: 1300px) {
    section{
        width: 60px;

        .items-menu-container{
            .item{
                p{
                    display: none;
                }
            }
        }
    }
}