<section>
    <div class="profile mb-5">
        <app-profile></app-profile>
    </div>
    <div  class="menu  bg-dark mt-4" > 
        <span [routerLink]="item.routerLink" routerLinkActive="active" class="item" *ngFor="let item of itensMenu">
            <fa-icon [icon]="item.fasIcon"></fa-icon>
            <span >{{item.name}}</span>
        </span>
    </div>

    <div class="logout" style="width:100% ;">
        <div class="row">
            <div class="col-12">
                <button (click)="logout()" style="width: 100%;" class="btn btn-danger">Sair</button>
            </div>
        </div>
    </div>
</section>